@model GoldDashboard.Models.AppUsers
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-12 col-xl-5">
        <div class="card">
            <div class="card-header border-0">
                <h3 class="card-title" style="color: black">Deposit : INR @Model.Deposit</h3><br />
                <h3 class="card-title" style="color: black">Investment Date: @Model.DepositDateStr</h3>
                @*<div class="card-tools">
          <a href="#" class="btn btn-tool btn-sm">
            <i class="fas fa-download"></i>
          </a>
          <a href="#" class="btn btn-tool btn-sm">
            <i class="fas fa-bars"></i>
          </a>
        </div>*@
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                    <thead>
                        <tr>
                            <th>UserId</th>
                            <th>Balance</th>
                            <th>Profit</th>

                            @*<th>More</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @*<i class="fa fa-user" style='font-size: 15px; color: #007bff' aria-hidden="true"></i>&nbsp;&nbsp;*@
                                <b><a style="color: #007bff"> @Model.GoldUserName</a></b>
                            </td>
                            <td>INR @Model.Balance</td>
                            <td>
                                @if (Model.PercentProfit > 0)
                                {
                                    <small class="text-success mr-1">
                                        <i class="fas fa-arrow-up"></i>
                                        @Model.PercentProfit
                                    </small>
                                }
                                else
                                {
                                    <small class="text-warning mr-1">
                                        <i class="fas fa-arrow-down"></i>
                                        @Model.PercentProfit
                                    </small>
                                }

                                INR @Model.TotalProfit
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-xs-12">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@Model.PerDayProfit</h3>
                <p>Day Profit</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-calendar"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-xs-12">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@Model.PerWeekProfit</h3>
                <p>Week Profit</p>
            </div>
            <div class="icon">
                <i class="ion ion-calendar"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-xs-12">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model.PerMonthProfit</h3>
                <p>Month Profit</p>
            </div>
            <div class="icon">
                <i class="ion ion-calendar"></i>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
}
