@using GoldDashboard.ViewModels
@model LoginViewModel

@{
    Layout = "~/Views/Account/_Layout.cshtml";
}
<section class="ftco-section">
    <div class="container">
        @*<div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Gold Trading</h2>
            </div>
        </div>*@
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-5">
                <div class="wrap d-md-flex">
                    @*<div class="img" style="background-image: url('/Images/img4.jpg');">
                    </div>*@
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Sign In</h3>
                            </div>
                            @*<div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                </p>
                            </div>*@
                        </div>

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>*@

                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                            </div>


                        }
                        @*<p class="text-center">
                            Not a member?
                            @Html.ActionLink("Sign Up", "Register")
                        </p>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/LoginPageJs/jquery.min.js"></script>
<script src="~/LoginPageJs/popper.js"></script>
<script src="~/LoginPageJs/bootstrap.min.js"></script>
<script src="~/LoginPageJs/main.js"></script>
