@model IEnumerable<AngelOneAdmin.ViewModels.TradeBookViewModel>
@{
    ViewBag.Title = "Trade Book";
}



<style>
    .table {
        font-size: 14px;
    }
    .inlineDiv {
        margin-right: 10px;
        display: inline;
    }
</style>
<table class="table table-striped" id="TradeBookTbl">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">ClientId</th>
            <th scope="col">Trading Symbol</th>
            <th scope="col">BuyQty</th>
            <th scope="col">SellQty</th>
            <th scope="col">Balance</th>
            <th scope="col">CurrentPrice</th>
            <th scope="col">Stop Loss</th>
            <th scope="col">Add Record</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var balance = item.buyQty - item.sellQty;
        <tr>
            <td>@item.id</td>
            <td>@item.clientId</td>
            <td>@item.tradingSymbol</td>
            <td>@item.buyQty</td>
            <td>@item.sellQty</td>
            <td>@item.Balance</td>
            <td>@item.currentPrice</td>
            <td>@item.stopLoss</td>

            <td><button class="tradeEntries btn btn-primary"  value="Add">Add</button></td>
        </tr>
        }

    </tbody>
</table>

<div class="modal" id="addModel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Trade Book Entiry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="exampleInputPassword1">OrderId</label>
                    <input type="text" disabled class="form-control" id="OrderId">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Client Id</label>
                    <input type="text" disabled class="form-control" id="ClientId">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Trading Symbol</label>
                    <input type="text" disabled class="form-control" id="TradingSymbol" aria-describedby="emailHelp" placeholder="">
                </div>

                <div class="form-check inlineDiv">
                    <input class="form-check-input" type="radio" name="BuyOrSell" id="Buy" value="BUY" checked>
                    <label class="form-check-label" for="Buy">
                        Buy
                    </label>
                </div>

                <div class="form-check inlineDiv">
                    <input class="form-check-input" type="radio" name="BuyOrSell" id="Sell" value="SELL">
                    <label class="form-check-label" for="Sell">
                        Sell
                    </label>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Price</label>
                    <input type="text" class="form-control" id="Price" aria-describedby="emailHelp" placeholder="">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Quantity</label>
                    <input type="text" class="form-control" id="Quantity" aria-describedby="emailHelp" placeholder="">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AddDataInModel()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script>
        $("#TradeBookTbl").on('click', '.tradeEntries', function () {
            var currentRow = $(this).closest("tr");

            var col1 = currentRow.find("td:eq(0)").text();//clienid
            var col2 = currentRow.find("td:eq(1)").text();//
            var col3 = currentRow.find("td:eq(2)").text();
            var col4 = currentRow.find("td:eq(3)").text();
            var col5 = currentRow.find("td:eq(4)").text();
            var col6 = currentRow.find("td:eq(5)").text();
            var col7 = currentRow.find("td:eq(6)").text();
            var col8 = currentRow.find("td:eq(7)").text();
            var possible = "0123456789"
            var text = "";
            for (var i = 0; i < 15; i++) {
                text += possible.charAt(Math.floor(Math.random() * possible.length));
            }

            $("#OrderId").val(text);
            $("#ClientId").val(col2);
            $("#TradingSymbol").val(col3);
            $("#addModel").modal('show');

            if (col5 = '0') {
                $("#Sell").attr("checked", "checked");
            }
            if (col4 = '0') {
                $("#Buy").attr("checked", "checked");
            }
            //var model = { "id": col1, "orderId": text, "clientId": col2, "tradingSymbol": col3, "BuyQty": col4, "SellQty": col5, "Current Price": col7, "Stop Loss": col8 };

            //debugger
            //$.ajax({
            //    url: "/Trading/AddTradeBookRecord",
            //    type: "post",
            //    data: { "TradeBookModel": model },
            //    success: function () {
            //        alert("Data inserted sucessfully");
            //        location.reload();
            //    }
            //});
        })

        function AddDataInModel() {

            var ourderId= $("#OrderId").val();
            var clientId = $("#ClientId").val();
            var tradingSymbol = $("#TradingSymbol").val();
            var trasactionType = $("input[name='BuyOrSell']:checked").val();
            var price = $("#Price").val();
            var quantity = $("#Quantity").val();

            var TradeData = { "orderId": ourderId, "clientId": clientId, "tradingSymbol": tradingSymbol, "TransationType": trasactionType, "Price": price, "Quantity": quantity};

            $.ajax({
                url: "/Trading/AddTradeBookRecord",
                type: "post",
                data: { "TradeBookModel": TradeData},
                success: function (data) {

                    alert("Data inserted successfully");
                    $("#addModel").modal('hide');
                    window.location.reload();
                }
            });
        }

    </script>

}
