@model IEnumerable<AngelOneAdmin.Models.User>
@{
    ViewBag.Title = "User List";
}

<style>
    .table {
        font-size: 14px;
    }

    .inlineDiv {
        margin-right: 10px;
        display: inline;
    }


    #example2_paginate {
        float: left !important;
    }
    .custom-control-input:checked ~ .custom-control-label::before {
        border-color:forestgreen;
        background-color:forestgreen;
    }
</style>

<input type="button" value="Add New User" onclick="OpenModel()" class="btn btn-primary" style="margin-bottom:15px" />



<div class="card">
    <div class="card-header">
        <h3 class="card-title">User List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>UserId</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Angel User</th>
                    <th>Balance Amount</th>
                    <th>Active</th>
                    <th>Active</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var name = item.firstName + " " + item.lastName;

                <tr>
                    <td>@item.id</td>
                    <td>@item.userId</td>
                    <td>@name</td>
                    <td>@item.email</td>
                    <td>@item.Phone</td>
                    <td>@item.angel_user</td>
                    <td>@item.balance_amount</td>
                    <td>@item.active</td>
                    @if (item.active == "Y")
                    {
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input ToggleCheckBox" onclick="ChangeActiveStatus(this.id)" data-isActive="@item.active" data-id="@item.id" id="toggle_@item.id" checked>
                                <label class="custom-control-label" id="label_@item.id" for="toggle_@item.id">@(item.active == "Y" ? "" : "")</label>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input ToggleCheckBox" onclick="ChangeActiveStatus(this.id)" data-isActive="@item.active" data-id="@item.id" id="toggle_@item.id">
                                <label class="custom-control-label" id="label_@item.id" for="toggle_@item.id">@(item.active=="Y"?"":"")</label>
                            </div>
                        </td>
                    }

                    <td><input type="button" id="@item.id" class="btn btn-primary editUser" value="Edit" /></td>
                </tr>
                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>








<div class="modal" id="addModel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <div class="form-group">
                    <label for="exampleInputEmail1">User Id</label>
                    <input type="text" class="form-control" id="UserId" aria-describedby="emailHelp" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Phone</label>
                    <input type="text" class="form-control" id="Phone" aria-describedby="emailHelp" placeholder="">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Angel User</label>
                    <input type="text" class="form-control" id="AngelUser" aria-describedby="emailHelp" placeholder="">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Angel Password</label>
                    <input type="password" class="form-control" id="AngelPassword" placeholder="">
                </div>

                <div class="form-check inlineDiv">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="N" checked>
                    <label class="form-check-label" for="exampleRadios2">
                        Not Active
                    </label>
                </div>

                <div class="form-check inlineDiv">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Y">
                    <label class="form-check-label" for="exampleRadios1">
                        Active
                    </label>
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AddUserData()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade DeleteModel" id="DeleteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="GetUserId" name="custId" value="">
                <h6>Are you sure you want to delele this record</h6>
            </div>
            <div class="modal-footer">
                <button type="button" id="" class="btn btn-primary" onclick="DeleteUser()">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>




@*Edit model*@
<div class="modal" id="EditModel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="form-group">
                    <label for="EditId">Id</label>
                    <input type="text" disabled class="form-control" id="EditId" aria-describedby="emailHelp" placeholder="">
                </div>
                <div class="form-group">
                    <label for="EditUserId">User Id</label>
                    <input type="text" class="form-control" id="EditUserId" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="EditEmail">Email</label>
                    <input type="email" class="form-control" id="EditEmail" aria-describedby="emailHelp" placeholder="">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="EditPhone">Phone</label>
                    <input type="text" class="form-control" id="EditPhone" aria-describedby="emailHelp" placeholder="">
                </div>

                <div class="form-group">
                    <label for="EditAngelUser">Angel User</label>
                    <input type="text" class="form-control" id="EditAngelUser" aria-describedby="emailHelp" placeholder="">
                </div>

                <div class="form-group">
                    <label for="EditBalanceAmount">Balance Amount</label>
                    <input type="text" class="form-control" id="EditBalanceAmount" aria-describedby="emailHelp" placeholder="">
                </div>

                <div class="form-check inlineDiv">
                    <input class="form-check-input" type="radio" name="EditCheckBox" id="Active" value="Y">
                    <label class="form-check-label" for="Active">
                        Active
                    </label>
                </div>

                <div class="form-check inlineDiv">
                    <input class="form-check-input" type="radio" name="EditCheckBox" id="NotActive" value="N" checked>
                    <label class="form-check-label" for="NotActive">
                        NotActive
                    </label>
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="EditUserData()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <script>
        $(function () {
       
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "pageLength": 5,
            });
        });


        $(".ToggleCheckBox").on('click', function () {
            debugger
            var id = $(this).attr("data-id");
            $.ajax({
                url: "/Trading/UpdateStatus",
                type: "post",
                data: { "Id": id },
                success: function (data) {
                    debugger
                //    if (data == "Y") {
                //        $("#label_" + id).text("Active");
                      
                //    }
                //    else
                //    {
                //        $("#label_" + id).text("NotActive");
                //    }
                }
            });

            //var isActive = $(this).attr("data-isActive");
            //if (isActive == 'Y') {
            //    $("#_label" + Id).text('NotActive');
            //} else {
            //    $("#_label" + Id).text('Active');
            //}
        })

        function openDeleteModel(id)
        {
            $("#userIdDelete").html(id);
            $("#GetUserId").val(id);
            $("#DeleteModel").modal('show');
        }

        function DeleteUser() {
            var id = $("#GetUserId").val();
            debugger
            $.ajax({
                url: "/Trading/DeleteUser",
                type: "post",
                data: { "Id": id },
                success: function (data) {
                    debugger
                    if (data = 1) {
                        alert("Record deleted successfully");
                        window.location.reload();
                    } else {alert("Not delete") }
                }
            });
        }

        function OpenModel() {
            $("#addModel").modal('show');

        }

        $(".editUser").on('click', function () {
            var Id = $(this).closest('tr').find("td:eq(0)").text();
            var UserId = $(this).closest('tr').find("td:eq(1)").text();
            var Email = $(this).closest('tr').find('td:eq(3)').text();
            var Phone = $(this).closest('tr').find('td:eq(4)').text();
            var AngelUser = $(this).closest('tr').find('td:eq(5)').text();
            var BalanceAmount = $(this).closest('tr').find('td:eq(6)').text();
            var Active = $(this).closest('tr').find('td:eq(7)').text();
            debugger
            $("#EditId").val(Id);
            $("#EditUserId").val(UserId);
            $("#EditEmail").val(Email);
            $("#EditPhone").val(Phone);
            $("#EditAngelUser").val(AngelUser);
            $("#EditBalanceAmount").val(BalanceAmount);

            if (Active == 'Y') {
                debugger
                $("#Active").prop("checked", true);
                $("#NotActive").prop("checked", false);
            } else {
                debugger
                $("#NotActive").prop("checked", true);
                $("#Active").prop("checked", false);
            }

            $("#EditModel").modal('show');
        })

        function EditUserData() {
            debugger
            var Id = $("#EditId").val();
            var UserId = $("#EditUserId").val();
            var Email = $("#EditEmail").val();
            var Phone = $("#EditPhone").val();
            var AngelUser = $("#EditAngelUser").val();
            var BalanceAmount = $("#EditBalanceAmount").val();
            var isActive = "";

            if ($("#Active").attr("checked", "checked")) {
                isActive = 'Y';
            } else {
                isActive = 'N';
            }
            var UserData = { "Id": Id, "userId": UserId, "email": Email, "Phone": Phone, "angel_user": AngelUser, "active": isActive };
            debugger
            $.ajax({
                url: "/Trading/EditUserDetail",
                type: "post",
                data: { "EditUserModel": UserData },
                success: function (data) {
                    debugger
                    if (data = ! null) {
                        alert("Data for " + data + " Updated successfully");
                        $("#addModel").modal('hide');
                        window.location.reload();
                    }

                }
            });
        }

        function AddUserData() {
            var UserId = $("#UserId").val();
            var Password = $("#Password").val();
            var Email = $("#Email").val();
            var Phone = $("#Phone").val();
            var AngelUser = $("#AngelUser").val();
            var AngelPassword = $("#AngelPassword").val();
            var ActiveValue = $("input[name='exampleRadios']:checked").val();

            var UserData = { "userId": UserId, "password": Password, "email": Email, "Phone": Phone, "angel_user": AngelUser, "angel_password": AngelPassword, "active": ActiveValue };

            $.ajax({
                url: "/Trading/AddUserDetail",
                type: "post",
                data: { "AddUserModel": UserData },
                success: function (data) {
                    debugger
                    if (data = 1) {
                        alert("Data inserted successfully");
                        $("#addModel").modal('hide');
                        window.location.reload();
                    }

                }
            });
        }




    </script>

}
